<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= browserTitle %>
  </title>

  <!-- favicon.ico -->
  <link href="https://www.twreporter.org/asset/favicon.png" rel="shortcut icon" />

  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->

  <style type="text/css">
    body,
    html {
      overflow-x: hidden;
    }
  </style>

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->

  <!-- build:js scripts/vendor/modernizr.js -->
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
</head>

<body class="article">
  <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <div class="nav-icons">
    <div class="reporter-logo">
      <a href="https://www.twreporter.org/"><img src="https://dh1rvgpokacch.cloudfront.net/atavist/60826/image/derivative/cropandscale~64x64x0x0~favicon-1450079771-87.png" class="img-shadow" /></a>
    </div>
  </div>

  <div id="header" class="cover-photo">
    <div class="gradient-overlay">
      <h1 class="container"><%- articleTitle  %></h1>
      <h2 class="container"><%= articleSubtitle  %></h3>
    </div>
  </div>

  <!-- <canvas id="testCanvas" class="img-fit-width">
    </canvas> -->

  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-9">
          <span><%= author %></span>
        </div>
        <div class="col-md-3">
          <span class="title-date"><%= publishDate %></span>
        </div>
      </div>

      <hr class="red-hr">

    </div>

    <div class="row">
      <div class="col-lg-12">
        <small>影像來源： 國家電影中心</small>
        <%- include ../partials/paragraph1 %>
      </div>
    </div>

  </div>

  <div id="g-earth">
    <div class="fit-screen">
      <div class="canvas-box">
        <canvas id="testCanvas" class="fit-canvas"></canvas>
        <div class="gray-overlay"></div>
      </div>
    </div>
    <div id="earth-description" class="description">
        <div class="description-box" id="earth-desc-1">
          <img src="images/earthIcon1.svg">
          <div class="container">
            <p><%= earthText01 %></p>
            <p><%= earthText02 %></p>
          </div>
        </div>
        <div class="description-box" id="earth-desc-2">
          <div class="container">
            <p><%= earthText11 %></p>
            <p><%= earthText12 %></p>
          </div>
        </div>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <small>影像來源： Google Earth</small>
      <div class="col-lg-12">
        <%- include ../partials/paragraph2 %>
      </div>
    </div>
  </div>

  <div id="restorationBox1" class="fit-screen restoration-container">
    <div class="canvas-box">
       <canvas id="process1" class="fit-canvas"></canvas>
      <div class="gray-overlay"></div>
    </div>
    <div class="container description">
      <h4><%= processTitle1 %></h4>
      <span><%= processDescription1 %></span>
    </div>
  </div>
  <div id="restorationBox2" class="fit-screen restoration-container">
    <div class="canvas-box">
       <canvas id="process2" class="fit-canvas"></canvas>
      <div class="gray-overlay"></div>
    </div>
    <div class="container description">
      <h4><%= processTitle2 %></h4>
      <span><%= processDescription2 %></span>
    </div>
  </div>
  <div id="restorationBox3" class="fit-screen restoration-container">
    <div class="canvas-box">
       <canvas id="process3" class="fit-canvas"></canvas>
      <div class="gray-overlay"></div>
    </div>
    <div class="container description">
      <h4><%= processTitle3 %></h4>
      <span><%= processDescription3 %></span>
    </div>
  </div>
  <div id="restorationBox4" class="fit-screen restoration-container">
    <div class="canvas-box">
       <canvas id="process4" class="fit-canvas"></canvas>
      <div class="gray-overlay"></div>
    </div>
    <div class="container description">
      <h4><%= processTitle4 %></h4>
      <span><%= processDescription4 %></span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%- include ../partials/paragraph3 %>
      </div>
    </div>
  </div>

  <div id="photo-slick" class="container">
    <div><img class="img-responsive" src="images/slideshow/01.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/02.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/03.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/04.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/05.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/06.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/07.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/08.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/09.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/10.jpg"></div>
    <div><img class="img-responsive" src="images/slideshow/11.jpg"></div>
  </div>

  <div class="ai2html-container">
    <%- include ../partials/ai2html %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%- include ../partials/paragraph4 %>
      </div>
    </div>
  </div>

  

 <!-- 360 degree viewer -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="panolens-viewer">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="panolens.html"></iframe>
        </div>

      </div>
    </div>
  </div>


  <footer class='footer btm-footer'>
      <div class='footer-container'>
        <div class='logo-container'>
          <div class='logo'>
            <a href="https://www.twreporter.org/" target="_self">
              <img class="logo-img" src='images/logo-mobile-dark.svg' /> </a>
          </div>
        </div>
        <div class='social-container'>
          <div class='item'>
            <a href='https://www.facebook.com/twreporter/' target='_blank'>
              <img class="fb" src='https://www.twreporter.org/asset/FB' />
            </a>
          </div>
          <div class='item'>
            <a href='https://www.instagram.com/twreporter/' target='_blank'>
              <img class="ig" src='https://www.twreporter.org/asset/IG.png' />
            </a>
          </div>
        </div>
        <div class='us-container'>
          <div class='item'>
            <a href='https://www.twreporter.org/a/about-us-footer' target="_self">
                          關於我們
                      </a>
          </div>
          <div class='item'>
            <a href='https://www.twreporter.org/a/contact-footer' target="_self">
                          聯絡我們
                      </a>
          </div>
          <div class='item'>
            <a href='https://www.twreporter.org/a/privacy-footer' target="_self">
                          隱私政策
                      </a>
          </div>
          <div class='item'>
            <a href='https://twreporter.backme.tw:443/cashflow/checkout?project_id=175&reward_id=718' target="_self">
                          贊助我們
                      </a>
          </div>
        </div>
      </div>
      <div class='open-source-container'>
        <div class='items'>
          <div class='item'>
            <a href='http://creativecommons.org/licenses/by-nc-nd/3.0/tw/' rel="license" target='_blank'>
              <img class="cc-logo img" src='https://www.twreporter.org/asset/cc.png' />
              <span class="cc-license"> 除另有註明，網站內容皆採用創用CC姓名標示-非商業性-禁止改作授權條款</span>
            </a>
          </div>
          <div class='item'>
            <a href='https://github.com/twreporter' target='_blank'>
              <img src='https://www.twreporter.org/asset/github.png' class='img' />
              <span> github.com/twreporter</span>
            </a>
          </div>
        </div>
      </div>
    </footer>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
    (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
        function() {
          (b[l].q = b[l].q || []).push(arguments)
        });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = 'https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
  </script>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <!-- endbower -->
  <!-- endbuild -->


  <!-- build:js scripts/scrollmagic.js -->
  <!-- bower:js -->
  <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
  <script src="/bower_components/gsap/src/minified/TweenMax.min.js"></script>
  <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/plugins.js -->
  <!-- bower:js -->
  <script src="/bower_components/slick-carousel/slick/slick.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/lib/canvasVideo.js"></script>
  <script src="/bower_components/EaselJS/lib/easeljs-0.8.2.min.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->
</body>

</html>
